.footer {
    position: relative;
    width: 100%;
    text-align: left;
    padding: 20px 0;
    background-color: #f8f9fa;
  }
  
  .footer h5 {
    margin-bottom: 20px;
  }
  
  .footer p, .footer a {
    color: #6c757d;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer .fab {
    font-size: 1.5rem;
    color: #6c757d;
  }
  
  .footer .fab:hover {
    color: #0056b3;
  }