<!-- src/app/header/header.component.html -->
<nav class="navbar navbar-expand-lg navbar-light custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/logo.png" alt="Logo" width="60" height="70" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/schools">Schools</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/kindergarten">Kindergarten</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/social-child-projects">Social Child Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/social-teenager-projects">Social Teenager Projects</a>
        </li>
        <li class="nav-item" *ngIf="!(isAuthenticated$ | async)">
          <a class="nav-link" routerLink="/login">
            <i class="fas fa-sign-in-alt"></i> <!-- Font Awesome Login Icon -->
          </a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated$ | async">
          <a class="nav-link" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i> <!-- Font Awesome Logout Icon -->
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
