.custom-navbar {
    height: 120px; /* Adjust the height as needed */
  }
  .custom-navbar .navbar-brand {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .custom-navbar .navbar-brand img {
    margin: 20px;
  }
  .custom-navbar .navbar-nav .nav-link {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 25px; /* Adjust the padding to increase spacing */
    font-weight: bold; /* Increase the font size */
    font-size: large;
    transition: color 0.3s; /* Smooth transition for hover effect */
  }
  .custom-navbar .navbar-nav .nav-link:hover {
    color: #ff5733; /* Change this color to your desired hover color */
  }
  .custom-navbar .navbar-nav .nav-item {
    margin: 10px; /* Add margin between nav items */
  }
  .custom-navbar .navbar-toggler {
    align-self: center;
  }